---
import Section from "../Section.astro"

interface Props {
  summary: string;
  lang: string;
}

const { summary, lang } = Astro.props;
---

<Section title={lang==="es" ? "Sobre mí" : "About me"}>
  <p>
    {summary}
  </p>
</Section>