---
import Layout from "@/layouts/Layout.astro"

import Resumes from "@/components/Resumes.astro"
---

<Layout title={`Portafolio de Cristhofer Traavieso`}>
  <main>
    <Resumes />
    <iframe src="/resumes/cv" title="Cristhofer Travieso CV"></iframe>
  </main>

</Layout>

<style>
  main {
    padding: 4rem;
    padding-top: 0;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }

  iframe{      
        display: block;  /* iframes are inline by default */   
        height: 100vh;  /* Set height to 100% of the viewport height */   
        width: 100vw;  /* Set width to 100% of the viewport width */     
        border: none; /* Remove default border */
        background: lightyellow; /* Just for styling */
    }
</style>